@page
@model MyApp.Namespace.IndexModel

    <h1>Moja strona Index typu RazorPage</h1>
    @{
        string color = Model.RandomInt%2==0 ? "yellow": "green";
    }
    <div class="result" style="color:@color">Losowa liczba: @Model.RandomInt</div>
    <div>Wylosowane imię: @ViewData["losowe"]</div>
    <div>Aktualna data: @ViewData["data"]</div>
    <ul>
        @foreach (string imie in Model.imiona)
        {
            <li>@imie</li>
        }
    </ul>
    <ol>
        <hr>
        @for (int i = 0; i < Model.imiona.Count; i++)
        {
            <li>@Model.imiona[i]</li>
        }
    </ol>

