@model IEnumerable<_3tisp_school1.Models.Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model=>model.StudentName)</th>
        <th>@Html.DisplayNameFor(model=>model.DateOfBirth)</th>
        <th>@Html.DisplayNameFor(model=>model.Height)</th>
        <th>@Html.DisplayNameFor(model=>model.Weight)</th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
    <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
    <td>@Html.DisplayFor(modelItem => item.Height)</td>
    <td>@Html.DisplayFor(modelItem => item.Weight)</td>
</tr>
        
    }
</table>


