@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Moje filmy</h1>
    <table class="table table-striped">
        <tr>
            <th>Lp</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Cena</th>
            <th>Data wydania</th>
        </tr>
        @{ int i = 0;}
        @foreach (var row in Model.Films)
        {
            i++;
            <tr>
            
            <td>@i</td>
            <td>@row.Title</td>
            <td>@row.Author</td>
            <td>@row.Price.ToString("c")</td>
            <td>@row.DateOfRelease.Date</td>
            </tr>
        }
    </table>
</div>

