@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Moje filmy</h1>
    <table class="table table-striped">
        <tr>
            <th>Lp</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Cena</th>
            <th>Data wydania</th>
        </tr>
        @{ int i = 0;}
        @foreach (var row in Model.Films)
        {
            i++;
            <tr>
            
            <td>@i</td>
            <td>@row.Title</td>
            <td>@row.Author</td>
            <td>@row.Price.ToString("c")</td>
            <td>@row.DateOfRelease.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </table>
</div>
<div>
    <form asp-page="Index" method="post">
        <div class="form-group">
            <label for="a">a</label>
            <input type="number" class="form-control" name="a">
        </div>
        <div class="form-group">
            <label for="b">b</label>
            <input type="number" class="form-control" name="b">
        </div>
        <div><input type="submit" value="Wykonaj"></div>
    </form>
</div>

